[report]

include =
    *psutil*
omit =
    psutil/_compat.py
    psutil/tests/*
    setup.py
exclude_lines =
    enum.IntEnum
    except ImportError:
    globals().update
    if __name__ == .__main__.:
    if _WINDOWS:
    if BSD
    if enum is None:
    if enum is not None:
    if FREEBSD
    if has_enums:
    if LINUX
    if LITTLE_ENDIAN:
    if NETBSD
    if OPENBSD
    if MACOS
    if ppid_map is None:
    if PY3:
    if SUNOS
    if sys.platform.startswith
    if WINDOWS
    import enum
    pragma: no cover
    raise NotImplementedError
