# Configuration file for flake 8. This is used by "make lint" and by the
# GIT commit hook script.
# T001 = print() statement

[flake8]
ignore =
    # line break after binary operator
    W504
per-file-ignores =
   setup.py:T001
   scripts/*:T001
   scripts/internal/convert_readme.py:E501,T001
   psutil/tests/runner.py:T001
   psutil/tests/test_memleaks.py:T001
