# Configuration file for flake 8. This is used by "make lint" and by the
# GIT commit hook script.

[flake8]
ignore =
    # line break after binary operator
    W504,

    # --- flake8-bugbear plugin
    # Loop control variable 'keyword' not used within the loop body. If this is intended, start the name with an underscore.
    B007,
    # Redundant exception types in `except (IOError, OSError) as err:`.  Write `except OSError as err:`, which catches exactly the same exceptions.
    B014,
    # Do not perform function calls in argument defaults.
    B008,

    # --- flake8-blind-except plugin
    # blind except Exception: statement
    B902,

    # --- flake8-quotes plugin
    # Double quotes found but single quotes preferred
    Q000,

    # --- flake8-quotes naming; disable all except N804 and N805
    N801, N802, N803, N806, N807, N811, N812, N813, N814, N815, N816, N817, N818

per-file-ignores =
    # T001, T201 = print() statement (flake8-print plugin)
    setup.py:T001,T201
    scripts/*:T001,T201
    psutil/tests/runner.py:T001,T201
    psutil/tests/test_memleaks.py:T001,T201
    .github/workflows/*:T001,T201
