include .dprint.jsonc
include .gitignore
include CONTRIBUTING.md
include CREDITS
include HISTORY.rst
include INSTALL.rst
include LICENSE
include MANIFEST.in
include Makefile
include README.rst
include SECURITY.md
include docs/.readthedocs.yaml
include docs/DEVGUIDE.rst
include docs/DEVNOTES
include docs/Makefile
include docs/README
include docs/_static/copybutton.js
include docs/_static/css/custom.css
include docs/_static/favicon.ico
include docs/_static/sidebar.js
include docs/conf.py
include docs/index.rst
include docs/make.bat
include docs/requirements.txt
include make.bat
include pyproject.toml
include scripts/battery.py
include scripts/cpu_distribution.py
include scripts/disk_usage.py
include scripts/fans.py
include scripts/free.py
include scripts/ifconfig.py
include scripts/internal/README
include scripts/internal/bench_oneshot.py
include scripts/internal/bench_oneshot_2.py
include scripts/internal/check_broken_links.py
include scripts/internal/clinter.py
include scripts/internal/convert_readme.py
include scripts/internal/download_wheels.py
include scripts/internal/generate_manifest.py
include scripts/internal/git_pre_commit.py
include scripts/internal/install-sysdeps.sh
include scripts/internal/install_pip.py
include scripts/internal/print_access_denied.py
include scripts/internal/print_announce.py
include scripts/internal/print_api_speed.py
include scripts/internal/print_dist.py
include scripts/internal/print_downloads.py
include scripts/internal/print_hashes.py
include scripts/internal/print_sysinfo.py
include scripts/internal/print_timeline.py
include scripts/internal/purge_installation.py
include scripts/internal/test_python2_setup_py.py
include scripts/internal/winmake.py
include scripts/iotop.py
include scripts/killall.py
include scripts/meminfo.py
include scripts/netstat.py
include scripts/nettop.py
include scripts/pidof.py
include scripts/pmap.py
include scripts/procinfo.py
include scripts/procsmem.py
include scripts/ps.py
include scripts/pstree.py
include scripts/sensors.py
include scripts/temperatures.py
include scripts/top.py
include scripts/who.py
include scripts/winservices.py
include setup.py
include src/psutil/__init__.py
include src/psutil/_common.py
include src/psutil/_psaix.py
include src/psutil/_psbsd.py
include src/psutil/_pslinux.py
include src/psutil/_psosx.py
include src/psutil/_psposix.py
include src/psutil/_pssunos.py
include src/psutil/_psutil_aix.c
include src/psutil/_psutil_bsd.c
include src/psutil/_psutil_linux.c
include src/psutil/_psutil_osx.c
include src/psutil/_psutil_posix.c
include src/psutil/_psutil_sunos.c
include src/psutil/_psutil_windows.c
include src/psutil/_pswindows.py
include src/psutil/arch/aix/common.c
include src/psutil/arch/aix/common.h
include src/psutil/arch/aix/ifaddrs.c
include src/psutil/arch/aix/ifaddrs.h
include src/psutil/arch/aix/net_connections.c
include src/psutil/arch/aix/net_connections.h
include src/psutil/arch/aix/net_kernel_structs.h
include src/psutil/arch/all/init.c
include src/psutil/arch/all/init.h
include src/psutil/arch/bsd/cpu.c
include src/psutil/arch/bsd/disk.c
include src/psutil/arch/bsd/init.c
include src/psutil/arch/bsd/init.h
include src/psutil/arch/bsd/net.c
include src/psutil/arch/bsd/proc.c
include src/psutil/arch/bsd/sys.c
include src/psutil/arch/freebsd/cpu.c
include src/psutil/arch/freebsd/disk.c
include src/psutil/arch/freebsd/init.h
include src/psutil/arch/freebsd/mem.c
include src/psutil/arch/freebsd/proc.c
include src/psutil/arch/freebsd/proc_socks.c
include src/psutil/arch/freebsd/sensors.c
include src/psutil/arch/freebsd/sys_socks.c
include src/psutil/arch/linux/disk.c
include src/psutil/arch/linux/init.h
include src/psutil/arch/linux/mem.c
include src/psutil/arch/linux/net.c
include src/psutil/arch/linux/proc.c
include src/psutil/arch/netbsd/cpu.c
include src/psutil/arch/netbsd/disk.c
include src/psutil/arch/netbsd/init.h
include src/psutil/arch/netbsd/mem.c
include src/psutil/arch/netbsd/proc.c
include src/psutil/arch/netbsd/socks.c
include src/psutil/arch/openbsd/cpu.c
include src/psutil/arch/openbsd/disk.c
include src/psutil/arch/openbsd/init.h
include src/psutil/arch/openbsd/mem.c
include src/psutil/arch/openbsd/proc.c
include src/psutil/arch/openbsd/socks.c
include src/psutil/arch/openbsd/users.c
include src/psutil/arch/osx/cpu.c
include src/psutil/arch/osx/disk.c
include src/psutil/arch/osx/init.c
include src/psutil/arch/osx/init.h
include src/psutil/arch/osx/mem.c
include src/psutil/arch/osx/net.c
include src/psutil/arch/osx/proc.c
include src/psutil/arch/osx/sensors.c
include src/psutil/arch/osx/sys.c
include src/psutil/arch/posix/init.c
include src/psutil/arch/posix/init.h
include src/psutil/arch/posix/net.c
include src/psutil/arch/posix/proc.c
include src/psutil/arch/posix/sysctl.c
include src/psutil/arch/posix/users.c
include src/psutil/arch/sunos/cpu.c
include src/psutil/arch/sunos/cpu.h
include src/psutil/arch/sunos/disk.c
include src/psutil/arch/sunos/disk.h
include src/psutil/arch/sunos/environ.c
include src/psutil/arch/sunos/environ.h
include src/psutil/arch/sunos/mem.c
include src/psutil/arch/sunos/mem.h
include src/psutil/arch/sunos/net.c
include src/psutil/arch/sunos/net.h
include src/psutil/arch/sunos/proc.c
include src/psutil/arch/sunos/proc.h
include src/psutil/arch/sunos/sys.c
include src/psutil/arch/sunos/sys.h
include src/psutil/arch/sunos/v10/ifaddrs.c
include src/psutil/arch/sunos/v10/ifaddrs.h
include src/psutil/arch/windows/cpu.c
include src/psutil/arch/windows/disk.c
include src/psutil/arch/windows/init.c
include src/psutil/arch/windows/init.h
include src/psutil/arch/windows/mem.c
include src/psutil/arch/windows/net.c
include src/psutil/arch/windows/ntextapi.h
include src/psutil/arch/windows/proc.c
include src/psutil/arch/windows/proc_handles.c
include src/psutil/arch/windows/proc_info.c
include src/psutil/arch/windows/proc_utils.c
include src/psutil/arch/windows/security.c
include src/psutil/arch/windows/sensors.c
include src/psutil/arch/windows/services.c
include src/psutil/arch/windows/socks.c
include src/psutil/arch/windows/sys.c
include src/psutil/arch/windows/wmi.c
include tests/README.rst
include tests/__init__.py
include tests/__main__.py
include tests/test_aix.py
include tests/test_bsd.py
include tests/test_connections.py
include tests/test_contracts.py
include tests/test_linux.py
include tests/test_memleaks.py
include tests/test_misc.py
include tests/test_osx.py
include tests/test_posix.py
include tests/test_process.py
include tests/test_process_all.py
include tests/test_scripts.py
include tests/test_sudo.py
include tests/test_sunos.py
include tests/test_system.py
include tests/test_testutils.py
include tests/test_unicode.py
include tests/test_windows.py
