.wy-nav-content {
    max-width: 70% !important;
    padding: 15px !important;
}

.rst-content dl:not(.docutils) {
    margin: 0px 0px 0px 0px !important;
}

.data dd {
    margin-bottom: 0px !important;
}

.data .descname {
    border-right:10px !important;
}

.rst-content ul p {
    margin-bottom: 0px !important;
}

.rst-content ul {
    margin-top: 0px !important;
}

.rst-content li {
    list-style: outside;
    margin-left: 15px;
}

.document td {
    padding-bottom: 0px !important;
}

.document th {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.document th p {
    margin-bottom: 0px !important;
}

.document th p {
}

.function .descclassname {
    font-weight: normal !important;
}

.class .descclassname {
    font-weight: normal !important;
}

.admonition.warning {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.admonition.note {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.rst-content dl:not(.docutils) dt {
    color: #555;
}

.sig-paren {
    padding-left: 2px;
    padding-right: 2px;
}

h1, h2, h3 {
    background: #eee;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

h1 {
    font-size: 35px;
}

.admonition.warning {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.admonition.warning p {
    margin-bottom: 5px !important;
}

.admonition.note {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.admonition.note p {
    margin-bottom: 5px !important;
    backround-color: rgb(238, 255, 204) !important;
}

.codeblock div[class^='highlight'], pre.literal-block div[class^='highlight'], .rst-content .literal-block div[class^='highlight'], div[class^='highlight'] div[class^='highlight'] {
    background-color: #eeffcc !important;
}

.highlight .hll {
    background-color: #ffffcc
}

.highlight {
    background: #eeffcc;
}

.highlight .c {
    color: #408090;
    font-style: italic
}

.wy-side-nav-search {
    background-color: grey !important
}

pre {
    padding: 5px !important;
}

/* ================================================================== */
/* Warnings and info boxes like python doc */
/* ================================================================== */

div.admonition {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

div.warning {
    background-color: #ffe4e4 !important;
    border: 1px solid #f66 !important;
    border-radius: 3px !important;
}

div.note {
    background-color: #eee !important;
    border: 1px solid #ccc !important;
    border-radius: 3px !important;
}

div.admonition p.admonition-title + p {
    display: inline !important;
}

p.admonition-title {
    display: inline !important;
    background: none !important;
    color: black !important;
}

p.admonition-title:after {
    content: ":" !important;
}

div.body div.admonition, div.body div.impl-detail {
}

.fa-exclamation-circle:before, .wy-inline-validate.wy-inline-validate-warning .wy-input-context:before, .wy-inline-validate.wy-inline-validate-info .wy-input-context:before, .rst-content .admonition-title:before {
    display: none !important;
}

.note code {
    background: #d6d6d6 !important;
}
