# Fired by Github Actions every time an issue, PR or comment is created.

name: issues
on:
  issues:
    types: [opened]
  pull_request_target:
    types: [opened]
  issue_comment:
    types: [created]
permissions:
  issues: write
  pull-requests: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install deps
        run: python3 -m pip install PyGithub

      - name: Run
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PYTHONUNBUFFERED=1 PYTHONWARNINGS=always python3 .github/workflows/issues.py
